[Unit]
Description=Eureka Service Registry
After=network.target

[Service]
User={{ app_user }}
WorkingDirectory=/opt/{{ app_name }}
ExecStart=/usr/bin/java -jar {{ app_name }}.jar
SuccessExitStatus=143
Restart=always
RestartSec=10
Environment="EUREKA_HOST=%H"
Environment="EUREKA_PORT=8761"
Environment="EUREKA_PREFER_IP=true"

[Install]
WantedBy=multi-user.target
